.cont-sec-wrapper{
    padding: 170px 0 100px;
}
.contact-a-d{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    text-decoration: none;
    padding: 40px 0 30px;
    border-bottom: 1px solid #83838396;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.contact-a-d span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.contact-a-d svg{
    font-size: 25px
}
.form-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: block;
}
.form-input{
    width: 100%;
    border: 1px solid #cdcdcd;
    padding: 9px 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.form-input::placeholder,
.form-textarea::placeholder{
    font-size: 14px;
}
.form-input:focus-visible{
}
.form-textarea{
    width: 100%;
    border: 1px solid #cdcdcd;
    padding: 7px 10px;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cont-pad-right{
    padding-right: 15%;
}
.contact-sub-btn{
    background: #000;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 15px;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-sub-btn svg{
    color: #fff;
    fill: #fff;
}

.error-msg-contact{
    font-size: 12px ;
    font-weight: 600;
    color: #b60707;
}

@media only screen and (max-width:767px){
    .cont-pad-right{
        padding-right: 15px;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px){
    .cont-pad-right{
        padding-right: 15px;
    }
    .home-title-h {
        font-size: 16px;
    }
    .title {
        font-size: 24px;
    }
    .contact-a-d {
        font-size: 14px;
        gap: 16px;
    }
    .contact-a-d svg {
        font-size: 16px;
    }
    .home-title {
        font-size: 35px;
    }
}