.project-sec-1{
    padding: 120px 0 50px;
}


.project-inner-wrapper{
    position: relative;
    overflow: hidden;
}
.project-inner-wrapper .project-d-content{
    position: absolute;
    width: 100%;
    bottom: -50;
    left: 0;
    padding: 20px 16px;
    background: #000000e0;
    border-bottom-right-radius: 38px;
    border-bottom-left-radius: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-inner-wrapper:hover .project-d-content{
    bottom: 0;
}
/* .project-inner-wrapper::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000003b;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 23px;
} */
.project-d-t{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.project-d-t i,
.project-d-t svg{
    color: #fff;
    fill: #fff;
    font-size:26px;
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .project-d-t{
        font-size: 10px;
    }
    .project-d-t i, .project-d-t svg {
        font-size: 14px;
    }
    .project-inner-wrapper .project-d-content{
        bottom: 0;
        background: #000000e6;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
    }
    .project-sec-1 {
        padding: 138px 0 50px;
    }
}
@media only screen and (max-width:767px){
    .project-inner-wrapper .project-d-content{
        bottom: 0;
        background: #000000e6;
    }
    .project-d-t{
        font-size: 16px;
    }
    .project-sec-1 {
        padding: 130px 0 50px;
    }
}